header {
	background: #A9A9A9;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	text-align: center;
	color: #FFFFFF;
}

h2 {
	color: #1a1aff;
}

section {
	background: #585858;
}

a {
	background: #909090;
	color: #202020;
}	

/*Hide Images*/
.left {
	display: none;
}


/*this is just practicing with borders*/

.right {
	border: double 5px black;
}