

body{
	margin:5px;
	padding: 5px;
	font-size: 1.1em;
	max-width: 960px;
}
header {
	background: #A9A9A9 url("../images/flywheel.jpg")  no-repeat;
	padding: 20px;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 1.5em;
}

h2 {
	color: #17202a ;
}

section {
	background: #585858;
}

a {
	color: #479dc0;
}	

a:visited{
	color: #452bda;
}

nav {
	padding-left: 40px;
}

nav a{
	display: inline-block;
	background-color: rgba(253, 254, 254,.2);
	width: 20%;
	padding: 12px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	margin:0 5px;
	color: #02070b;
}

nav a:visited{
	color: #02070b;
}

.active{
	background: white;

}

aside img {
	display: block;
	width: 80%;
	border: 1px solid #17202a;
	margin: 20px auto;
}


.left {
	display: inline-block;
	float: left;
	width: 20%;
	height: 100vh;
	background:  #477009;
	padding: 5px;
}

.right{
	display: inline-block;
	width: 70%;
	background: #FFFFFF;
	padding-left: 20px;
	float: left;
}

/*Table Global
-------------------------------*/
table {
	font-size: 80%;
	width: 90%;
	margin: 10px auto;
	line-height: 5px;
}

tr {

	height: 40px;
}


/*table heading
--------------------------------*/
tr th{
	background: rgba(146,161,92,1);
	-webkit-column-count: linear-gradient(135deg, #DFEC51 0%,#73AA0A 100%);
  	-moz-column-count: linear-gradient(135deg, #DFEC51 0%,#73AA0A 100%);
  	-o-column-count: linear-gradient(135deg, #DFEC51 0%,#73AA0A 100%);
	background: linear-gradient(135deg, #DFEC51 0%,#73AA0A 100%);
	color: #ffffff;
	border-bottom: 3px solid #b0e06b;
	border-radius: 3px 3px 0 0;
	text-align: center;
	text-shadow: 5px 5px 10px #000000;
}

tr > th:first-child {
	text-align: left;
	padding-left: 10px;
}

/*table body
-------------------------------*/
tr td {
	text-align: center;
	background: rgba(228,245,215,.6);
	color: rgba(0,0,0,.6);
	border-radius: 2px;
}


tr > td:first-child {
	text-align: left;
	padding-left: 10px;
}

tr:hover td{
	background: rgba(228,245,215,1);
	color: rgba(0,0,0,1);
	text-shadow: 5px 5px 10px #000000;
}










