

header {
	background: #A9A9A9 url("../images/flywheel.jpg")  no-repeat;
	padding: 20px;
}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 1.5em;
}

h2 {
	color: #17202a ;
}

section {
	background: #585858;
}

a {
	color: #202020;
}	

nav a{
	display: inline-block;
	background-color: rgba(253, 254, 254,.2);
	width: 22%;
	padding: 12px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
}

.active{
	background: white;

}

aside img {
	display: block;
	width: 80%;
	border: 1px solid #17202a;
	margin: 20px auto;
}


.left {
	display: inline-block;
	float: left;
	width: 20%;
	height: 500px;
	background:  #477009;
	padding: 5px;

}

.right{
	display: inline-block;
	width: 50%;
	background: #FFFFFF;
	padding-left: 20px;
	float: left;
}







